.slider {
    /* position: absolute; */
    background-color: gray;
    height: 43vh;
    animation: animate 12s ease-in infinite;
    overflow: hidden;
    /* object-fit: fill; */
}

@keyframes animate {
    0%,
    100% {
        background-image: url(/flipkart/slider\ \(2\).png);
    }
    20% {
        background-image: url(/flipkart/slider3.png);
    }
    35% {
        background-image: url(/flipkart/slider4.png);
    }
    50% {
        background-image: url(/flipkart/Screenshot\ \(12\).png);
    }
    75% {
        background-image: url(/flipkart/slider5.png);
    }
}
